@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"> 
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <title>BootstrapTest</title>
</head>
<body>
<div class="container">
    <img src="http://www.w3schools.com/bootstrap/cinqueterre.jpg" class="img-thumbnail img-responsive" alt="Cinque Terre" width="304" height="236">
</div>
</body>
</html>
