@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"> 
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <title>BootstrapTest</title>
</head>
<body>
<div class="container">
    <p><button type="button" class="btn btn-lg btn-primary">Эспрессо <span class="badge">7</span></button></p>
    <p><button type="button" class="btn btn-lg btn-primary">Американо <span class="badge">6</span></button></p>
    <p><button type="button" class="btn btn-lg btn-primary">Латте <span class="badge">0</span></button>
    </p>
    <div>
        <a href="#" class="thumbnail">
            <h3>Типа весь заказ: <strong class="lead">150 грн</strong>
            </h3>
        </a>
    </div>

</div>
</body>
</html>
