@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"> 
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <title>BootstrapTest</title>
</head>
<body>
<div class="container">
    <span>Regular</span> <small>small tag</small><br/>
    <span>Regular</span> <mark>mark tag</mark><br/>
    <span>Regular</span> <abbr title="abbreviature">ABBR</abbr><br/>
    <span>Regular</span> 
    <blockquote>
        <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
        <footer>From WWF's website</footer>
    </blockquote><br/>
    <span>Regular</span> <code>code tag</code><br />
    <span>Regular</span> <kbd>ctrl + p</kbd><br />
</div>
</body>
</html>
